body {
	margin:0px;
	padding:10%;
	background-color: #122944;
	background-image: url('../img/drone-bg.jpg');
	background-size: 100%;
	p {
		color:#fff;
		font-size:1.2em;
		font-family: arial, sans-serif;
	}
	h1 {
		color:#fff;
		text-align: center;
		font-size:4em;
	}
}
	#content-drone {
	.entry {
		width:40%;
		float:left;
		padding:20px;
		color:#fff;
		font-family:arial;
		border:1px solid #316c95;
		margin:10px;
		background: rgba(54, 25, 25, .25);
		height:220px;

		a {
			color:#fa4b2a;
			text-decoration:none;
			&:hover {
				text-decoration:underline;
			}
		}

		h2 {
			text-transform:uppercase;
			color:#fa4b2a;
		}

		h3 {
			font-size:1em;
			font-weight:normal;
			font-family:ff-din-web-condensed,helvetica,sans-serif;
		}

		.img {
			width:100px;
			height:100px;
			background-size: 200px auto;
			background-position: center;
			float:right;
			border-radius:100%;
			border:3px solid #fff;
		}

		.drone_modal {
			background: rgba(0, 0, 0, .85);
			width:100%;
			height:100%;
			position:fixed;
			top:0;
			left:0;
			div {
				background:#fff;
				z-index:100;
				padding:30px;
				width:60%;
				margin:50px auto;
				color:#000;
				h4 {
					text-align:right;
					font-size:.6em;
					color:#666;
					font-weight:normal;
					margin-top:20px;
				}
				h3 {
					border-bottom: 1px solid #eee;
					display: block;
					width: 30%;
					font-size: 12px;
					padding: 9px 0px;
					color: #444;
					margin: -1px 0px 0px 0px;
					border-top: 1px solid #eee;
					strong {
						color:#222;
					}
				}
				p {
					float:right;
					width:65%;
					margin-left:30px;
				}
				.photo {
					width:100%;
					overflow: hidden;
					height:300px;
					background-size: 100%;
					background-position: center;
					background-repeat: no-repeat;
					margin:0 0 15px 0px;
					padding:0;
					border:1px solid #ccc;
					h2, h4 {
						position:relative;
						display:inline-block;
						background:#000;
						color:#fff;
						padding:5px;
						margin:0;
					}
					h2 {
						top:0;
						left:0;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1140px) {
	#content-drone {
		.entry { width:40%;}	
	}
}
@media only screen and (max-width: 767px) {
	#content-drone {
		.entry { width:100%;}	
	}
}